<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :filename, "File Name", style: "display: block", class: "form-label" %>
    <%= form.text_field :filename, class: "form-control" %>
  </div>

  <div>
    <%= form.label :filetype, "File Type", style: "display: block", class: "form-label" %>
    <%= form.text_field :filetype, class: "form-control" %>
  </div>

  <div>
    <%= form.label :fileformat, "File Format", style: "display: block", class: "form-label" %>
    <%= form.text_field :fileformat, class: "form-control" %>
  </div>

  <div>
    <%= form.label :filesize, "File Size", style: "display: block", class: "form-label" %>
    <%= form.number_field :filesize, class: "form-control" %>
  </div>

  <div>
    <%= form.label :dimensions, style: "display: block", class: "form-label" %>
    <%= form.text_field :dimensions, class: "form-control" %>
  </div>

  <div>
    <%= form.label :content_description, style: "display: block", class: "form-label" %>
    <%= form.text_area :content_description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :content_keywords, style: "display: block", class: "form-label" %>
    <%= form.text_area :content_keywords, class: "form-control" %>
  </div>

  <div>
    <%= form.label :file_date_created, style: "display: block", class: "form-label" %>
    <%= form.datetime_field :file_date_created, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
