<div id="<%= dom_id item %>">
  <p>
    <strong>Filename:</strong>
    <%= item.filename %>
  </p>

  <p>
    <strong>Filetype:</strong>
    <%= item.filetype %>
  </p>

  <p>
    <strong>Fileformat:</strong>
    <%= item.fileformat %>
  </p>

  <p>
    <strong>Filesize:</strong>
    <%= item.filesize %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= item.dimensions %>
  </p>

  <p>
    <strong>Content description:</strong>
    <%= item.content_description %>
  </p>

  <p>
    <strong>Content keywords:</strong>
    <%= item.content_keywords %>
  </p>

  <p>
    <strong>File date created:</strong>
    <%= item.file_date_created %>
  </p>

</div>
