<div class="container">
  <div class="row">
    <div class="col">
        <%= link_to "Show this item", @item %> |
        <%= link_to "Back to items", items_path %>
        
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Edit Metadata</h2>
      <hr>
      <%= render "form", item: @item %>
    </div>
    <div class="col">
      <% if @item.fileobj.representable? %>
        <% if @item.fileobj.image? %>
          <%= image_tag @item.fileobj, class: "img-fluid" %>
        <% end %>
      <% end %>
      <%= @item.fileobj.filename %>
    </div>
  </div>
</div>