<div class="container">
  <div class="row">
    <div class="col">
  </div>
</div>
<% if @item.fileobj.representable? %>
  <% if @item.fileobj.image? %>
    <%= image_tag @item.fileobj.representation(resize_to_limit: [100, 100]) %>
  <% end %>
<% end %>
<%= @item.fileobj.filename %>
<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Delete Item", @item, method: :delete, class: "btn btn-danger" %>
</div>
